<:Title>
  STH' 15

<:Body>
  {{if Volt.user}}
  <h3>Welcome onboard Captain {{Volt.user._nick.split(/(\W)/).map(&:capitalize).join}} !</h3>
  <h5>Team {{Volt.user._team.capitalize}} awaits you ..</h5>
  {{ view public_chat_path, {controller_group: 'main'} }}
  {{ view private_chat_path, {controller_group: 'main'} }}

  {{ if Volt.user._team == "Admins"}}
    {{ view admin_panel_path, {controller_group: 'main'} }}
  {{else}}
    {{ view game_screen_path, {controller_group: 'main'} }}
  {{end}}

  {{else}}
  <h3>Please sign in to set sail !</h3>
  {{end}}

